name: Linux CI
on:
  pull_request:
    branches: [ main, local-main ]
  push:
    branches: [ main, local-main, run-ci, linux-ci ]
    tags:
      - v*
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build and lint
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    -
      name: Set up Go.
      id: go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        cache: true
        check-latest: true
        go-version-file: 'go.mod'
    -
      name: Build
      run: make build-current-os-noui
    -
      name: Lint
      run: make lint vet
    -
      name: Upload Logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    -
      name: Set up Go.
      id: go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        cache: true
        check-latest: true
        go-version-file: 'go.mod'
    -
      name: Tests
      run: make test
      continue-on-error: ${{ github.event_name != 'pull_request' }}
    -
      name: Upload Logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}
  integration:
    name: Integration
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    -
      name: Set up Go.
      id: go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        cache: true
        check-latest: true
        go-version-file: 'go.mod'
    -
      name: Integration Tests
      run: make -j2 ci-integration-tests
      continue-on-error: ${{ github.event_name != 'pull_request' }}
    -
      name: Upload Logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}
  race:
    name: Race Detector
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    -
      name: Set up Go.
      id: go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        cache: true
        check-latest: true
        go-version-file: 'go.mod'
    -
      name: Unit Tests
      run: make -j2 test UNIT_TEST_RACE_FLAGS=-race UNIT_TESTS_TIMEOUT=1200s
      continue-on-error: ${{ github.event_name != 'pull_request' }}
    -
      name: Upload Logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}
